<nav class="main-nav">
    <!-- ***** Logo Start ***** -->
    <a href="index.html" class="logo">
        <h1>HarvestConnect</h1>
    </a>
    <!-- ***** Logo End ***** -->
    <!-- ***** Menu Start ***** -->
    <ul dir="rtl" class="nav">
        <li><a (click)="scrollToContact('header')">בית</a></li>
        <li><a (click)="scrollToContact('closes-event')">ההתנדבות הקרובה</a></li>
        <li><a (click)="scrollToContact('events')">התנדבויות</a></li>
        <li><a (click)="scrollToContact('contact')" >צור קשר
        </a></li>
        <li>
            <!-- <a dir="rtl" href="#"><i class="fa fa-calendar"></i> Schedule a visit</a> -->
        </li>
    </ul>
    <a class="menu-trigger">
        <span>Menu</span>
    </a>
    <!-- ***** Menu End ***** -->
</nav>