<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <ul class="info">
          <li><i class="fa fa-envelope"></i> info@harvestconnect.com</li>
          <li><i class="fa fa-map"></i> צריפין, ראשון לציון</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-nav-bar></app-nav-bar>

<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>התנדבויות</h3>
      </div>
    </div>
  </div>
</div>

<div class="section properties">
  <div class="container">
    <ul dir="rtl" class="properties-filter">
      <li>
        <a class="is_active" data-filter="*">הראה הכל</a>
      </li>
      <li>
        <a data-filter=".adv">קל</a>
      </li>
      <li>
        <a data-filter=".str">ממוצע</a>
      </li>
      <li>
        <a data-filter=".rac">קשה</a>
      </li>
    </ul>
    <div class="row properties-box">
      <app-event [events]="events"></app-event>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <ul class="pagination">
          <li><a>1</a></li>
          <li><a class="is_active">2</a></li>
          <li><a>3</a></li>
          <li><a>>></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
