<app-nav-bar></app-nav-bar>

<div class="main-banner">
  <div class="owl-carousel owl-banner">
    <div class="item item-1">
      <div class="header-text">
        <span class="category">Toronto, <em>Canada</em></span>
        <h2>Hurry!<br />Get the Best Villa for you</h2>
      </div>
    </div>
    <div class="item item-2">
      <div class="header-text">
        <span class="category">Melbourne, <em>Australia</em></span>
        <h2>Be Quick!<br />Get the best villa in town</h2>
      </div>
    </div>
    <div class="item item-3">
      <div class="header-text">
        <span class="category">Miami, <em>South Florida</em></span>
        <h2>Act Now!<br />Get the highest level penthouse</h2>
      </div>
    </div>
  </div>
</div>

<div class="featured section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="left-image">
          <img src="assets/photos/soldiers.jpg" alt="" />
          <a routerLink="/volunteer-details"
            ><img
              src="assets/images/featured-icon.png"
              alt=""
              style="max-width: 60px; padding: 0px"
          /></a>
        </div>
      </div>
      <div class="col-lg-5" style="direction: rtl">
        <div class="section-heading">
          <h6>| מומלצים</h6>
          <h2>תרומה ענקית &amp; שמחת חיים</h2>
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                מהם היתרונות של התנדבות קציר בישראל עבור המשתתפים?
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                התנדבות קציר בישראל מציעה למשתתפים חוויה ייחודית וסוחפת בשיטות
                החקלאות בארץ. מעבר לסיכוי לתרום לקציר, מתנדבים מקבלים לעתים
                קרובות תובנות על התרבות הישראלית, יוצרים קשרים מתמשכים עם עמיתים
                מתנדבים ומפתחים תחושת הישג באמצעות עבודתם. בנוסף, החוויה מספקת
                הזדמנות לצמיחה אישית, פיתוח מיומנויות והבנה מעמיקה יותר של שיטות
                חקלאות ברות קיימא.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                מהי המשמעות של התנדבות הקציר בישראל?
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                להתנדבות הקציר בישראל יש משמעות תרבותית, חברתית וכלכלית. מבחינה
                תרבותית, הוא מאפשר למתנדבים לעסוק באדמה ובמסורות הנטועות עמוק
                בהיסטוריה הישראלית. מבחינה חברתית, זה מטפח מעורבות קהילתית
                וחיבור, שכן מתנדבים עובדים לעתים קרובות יחד בשטחים. מבחינה
                כלכלית, התנדבות הקציר תורמת למגזר החקלאי, שהוא מרכיב חיוני
                בכלכלת ישראל.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                כיצד יכולים יחידים להשתתף בהתנדבות בישראל?
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                אנשים המעוניינים בהתנדבות קציר בישראל יכולים לבחון הזדמנויות
                באמצעות ארגונים וחוות שונים המתאמים תוכניות התנדבות. תכניות אלו
                כוללות בדרך כלל פעילויות כמו קטיף פירות או ירקות, עבודה בקיבוצים
                והשתתפות במשימות חקלאיות. מתנדבים יכולים להגיש בקשה ישירות
                לתוכניות אלה, וארגונים מסוימים עשויים לספק אירוח ופנסיון בתמורה
                לתרומתם.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="info-table">
          <ul>
            <li>
              <img
                src="assets/images/info-icon-01.png"
                alt=""
                style="max-width: 52px"
              />
              <h4>250 m2<br /><span>המון שטח</span></h4>
            </li>
            <li>
              <img
                src="assets/images/info-icon-02.png"
                alt=""
                style="max-width: 52px"
              />
              <h4>חיבור <br /><span>במיידי</span></h4>
            </li>
            <li>
              <img
                src="assets/images/info-icon-03.png"
                alt=""
                style="max-width: 52px"
              />
              <h4>תרומה<br /><span>מכל הלב</span></h4>
            </li>
            <li>
              <img
                src="assets/images/info-icon-04.png"
                alt=""
                style="max-width: 52px"
              />
              <h4>ביטחון המדינה<br /><span>24/7 תחת מעקב</span></h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="video section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-4">
        <div class="section-heading text-center">
          <h6>| צפייה בסרטון</h6>
          <h2>חיילים מתנדבים</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="video-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="video-frame">
          <img src="assets/images/video-frame.jpg" alt="" />
          <a href="https://youtube.com" target="_blank"
            ><i class="fa fa-play"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fun-facts">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="wrapper">
          <div class="row">
            <div class="col-lg-4">
              <div class="counter">
                <h2
                  class="timer count-title count-number"
                  [attr.data-to]="this.soldierAmount"
                  data-speed="2000"
                ></h2>
                <p class="count-text">כמות<br />חיילים שמתנדבים</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="counter">
                <h2
                  class="timer count-title count-number"
                  [attr.data-to]="this.peopleAmount"
                  data-speed="2000"
                ></h2>
                <p class="count-text">כמות<br />האנשים</p>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="counter">
                <h2
                  class="timer count-title count-number"
                  [attr.data-to]="this.volAmount"
                  data-speed="2000"
                ></h2>
                <p class="count-text">מקומות התנדבות<br />רק לשנת 2023</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-bestdeal-event [events]="this.events"></app-bestdeal-event>

<div class="properties section" id="events">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-4">
        <div class="section-heading text-center">
          <h6>| התנדבויות</h6>
          <h2>אנחנו מספקים מגוון רחב של התנדבויות</h2>
        </div>
      </div>
      <app-event [events]="events"></app-event>
    </div>
  </div>
</div>

<div class="contact section" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-4">
        <div class="section-heading text-center">
          <h6>צור קשר|</h6>
          <h2>צור איתנו קשר</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact-content">
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div id="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d417952.7555234712!2d34.8896822824463!3d31.715580186007834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502834590297fd9%3A0x8cbbe389db4aebee!2z15nXoteoINeQ16jXlg!5e0!3m2!1siw!2sil!4v1703677332152!5m2!1siw!2sil"
            width="100%"
            height="500px"
            frameborder="0"
            style="
              border: 0;
              border-radius: 10px;
              box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
            "
            allowfullscreen=""
          ></iframe>
        </div>
        <div class="row">
          <div class="col-lg-6">
            <div class="item phone">
              <img
                src="assets/images/phone-icon.png"
                alt=""
                style="max-width: 52px"
              />
              <h6>+972-58-477-2747<br /><span>מספר פאלפון</span></h6>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="item email">
              <img
                src="assets/images/email-icon.png"
                alt=""
                style="max-width: 52px"
              />
              <h6>hconnect@gmail.com<br /><span>כתובת מייל</span></h6>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <form id="contact-form" action="" method="post">
          <div class="row">
            <div dir="rtl" class="col-lg-12">
              <fieldset>
                <label for="name">שם מלא</label>
                <input
                  class="rtl-right"
                  type="name"
                  name="name"
                  id="name"
                  placeholder="שם מלא..."
                  autocomplete="on"
                  required
                />
              </fieldset>
            </div>
            <div dir="rtl" class="col-lg-12">
              <fieldset>
                <label for="email">כתובת מייל</label>
                <input
                  class="rtl-right"
                  type="text"
                  name="email"
                  id="email"
                  pattern="[^ @]*@[^ @]*"
                  placeholder="כתובת מייל..."
                  required=""
                />
              </fieldset>
            </div>
            <div dir="rtl" class="col-lg-12">
              <fieldset>
                <label for="subject">נושא</label>
                <input
                  class="rtl-right"
                  type="subject"
                  name="subject"
                  id="subject"
                  placeholder="נושא..."
                  autocomplete="on"
                />
              </fieldset>
            </div>
            <div dir="rtl" class="col-lg-12">
              <fieldset>
                <label for="message">הודעה</label>
                <textarea
                  class="rtl-right"
                  name="message"
                  id="message"
                  placeholder="ההודעה שלך..."
                ></textarea>
              </fieldset>
            </div>
            <div dir="rtl" class="col-lg-12">
              <fieldset>
                <button type="submit" id="form-submit" class="orange-button">
                  שלח הודעה
                </button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
