body {
  text-align: right;
}

.rtl-right {
  direction: rtl;
}

.lable-right {
  text-align: right;
}

.video-frame {
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-permission {
  text-align: center;
  color: red;
}
