<div class="box">
  <div class="container" id="container">
    <div class="form-container sign-in-container">
      <form action="#">
        <h1>הרשמה</h1>
        <input dir="rtl" type="text" placeholder="שם מלא" #name />
        <input
          dir="rtl"
          type="email"
          placeholder="מייל או שם משתמש"
          #username
        />
        <input dir="rtl" type="password" placeholder="סיסמא" #password />
        <input dir="rtl" type="password" placeholder="סיסמא" #password1 />
        <div class="checkbox-agri">
          <input dir="rtl" type="checkbox" #isAgri><label for="isAgri">חקלאי</label>
        </div>
        <button
          (click)="
            signup(name.value, username.value, password.value, password1.value, isAgri.checked)
          "
        >
          הרשמה
        </button>
      </form>
    </div>
  </div>
</div>
