<div class="box">
  <div class="container" id="container">
    <div class="form-container sign-in-container">
      <form>
        <h1>התחברות</h1>
        <div class="social-container">
          <a class="social"><i class="fab fa-facebook-f"></i></a>
          <a class="social"><i class="fab fa-google-plus-g"></i></a>
          <a class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>או תשתמש בחשבון</span>
        <input type="email" placeholder="Email or Username" #username />
        <input type="password" placeholder="Password" #password />
        <a>שכחת סיסמא?</a>
        <button type="submit">כניסה</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1>!שלום חבר</h1>
          <p>אם אתה חדש אצלינו, אז פשוט תירשם ונתחיל את המסע שלנו</p>
          <button class="ghost" id="signUp" routerLink="/sign-up">הרשמה</button>
        </div>
      </div>
    </div>
  </div>
</div>
