<div class="sub-header">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <ul class="info">
            <li><i class="fa fa-envelope"></i> info@harvestconnect.com</li>
            <li><i class="fa fa-map"></i> צריפין,  ראשון לציון</li>
          </ul>
        </div>
        
      </div>
    </div>
  </div>
  <app-nav-bar></app-nav-bar>
  
  <div class="page-heading header-text">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h3>ניהול</h3>
        </div>
      </div>
    </div>
  </div>
  
  <div class="management section">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div dir="rtl" class="section-heading">
            <h6>| ניהול</h6>
            <h2> כל האירועים שלך</h2>
          </div>
        </div>
        <div>
          <div class="add-event-btn">
            להוספת אירוע
          </div>
        </div>
      </div>
    </div>
  </div>
  