<div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <ul class="info">
          <li><i class="fa fa-envelope"></i> info@harvestconnect.com</li>
          <li><i class="fa fa-map"></i> צריפין, ראשון לציון</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-nav-bar></app-nav-bar>

<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3>ההתנדבות הקרובה</h3>
      </div>
    </div>
  </div>
</div>

<div class="single-property section">
  <div class="container">
    <div class="row">
      <div class="col-lg-8" style="direction: rtl">
        <div class="main-image">
          <img src="assets/photos/{{ this.event.type }}.jpg" alt="" />
        </div>
        <div class="main-content">
          <span
            class="category"
            [ngStyle]="{
              'background-color': getColor(event.difficulty | translate)
            }"
            >{{ this.event.difficulty | translate }}</span
          >
          <h4>{{ this.event?.location }}</h4>
          <p>
            {{ this.volunteerHarvestLevels[this.event?.difficulty] }}
          </p>
        </div>
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                כמות אנשים שצריך להתנדבות זו
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                {{ this.event?.amountPeopleRequired }}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                כמות אנשים חסרים להתנדבות
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                {{ this.event?.amountPeopleLeft }}
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                תאריך ההתנדבות
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                {{ this.event?.date }}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="info-table">
          <ul>
            <li>
              <img
                src="assets/images/info-icon-01.png"
                alt=""
                style="max-width: 52px"
              />
              <h4>450 m2<br /><span>Total Flat Space</span></h4>
            </li>
            <li>
              <img
                src="assets/images/info-icon-02.png"
                alt=""
                style="max-width: 52px"
              />
              <h4>Contract<br /><span>Contract Ready</span></h4>
            </li>
            <li>
              <img
                src="assets/images/info-icon-03.png"
                alt=""
                style="max-width: 52px"
              />
              <h4>Payment<br /><span>Payment Process</span></h4>
            </li>
            <li>
              <img
                src="assets/images/info-icon-04.png"
                alt=""
                style="max-width: 52px"
              />
              <h4>Safety<br /><span>24/7 Under Control</span></h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<app-bestdeal-event [events]="this.events"></app-bestdeal-event>
