.events-container {
    display: flex;
    gap: 5rem;
    flex-wrap: wrap;
    justify-content: center;
    .event-card {
        width: 29%;;
    }
    .card-img {
        width: 100%;
        min-height: 210px;
    }
}