 <div class="sub-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8">
        <ul class="info">
          <li><i class="fa fa-envelope"></i> info@company.com</li>
          <li><i class="fa fa-map"></i> Sunny Isles Beach, FL 33160</li>
        </ul>
      </div>
      <div class="col-lg-4 col-md-4">
        <ul class="social-links">
          <li>
            <a href="#"><i class="fab fa-facebook"></i></a>
          </li>
          <li>
            <a href="https://x.com/minthu" target="_blank"
              ><i class="fab fa-twitter"></i
            ></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </li>
          <li>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<app-nav-bar></app-nav-bar>

<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <span class="breadcrumb"><a href="#">Home</a> / צור קשר</span>
        <h3>צור איתנו קשר</h3>
      </div>
    </div>
  </div>
</div>

<div class="contact-page section">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div dir="rtl" class="section-heading">
          <h6>| צור קשר</h6>
          <h2>צור קשר אם המנהל שלנו</h2>
        </div>
        <p dir="rtl" style="max-width: 50%;">
          אנו מנסים להקל כמה שאפשר על החקלאים 
          ולאפשר יצירת קשר באופן קל ויעיל מול
          המתנדבים.
        </p>
        <div class="row">
          <div class="col-lg-12">
            <div class="item phone">
              <img
                src="assets/images/phone-icon.png"
                alt=""
                style="max-width: 52px"
              />
              <h6>+972-58-477-2747<br /><span>מספר פאלפון</span></h6>
            </div>
          </div>
          <div class="col-lg-12">
            <div class="item email">
              <img
                src="assets/images/email-icon.png"
                alt=""
                style="max-width: 52px"
              />
              <h6>Harvest@gmail.com<br /><span>כתובת מייל</span></h6>
            </div>
          </div>
        </div>
      </div>
      <div dir="rtl" class="col-lg-6">
        <form id="contact-form" action="" method="post">
          <div class="row">
            <div class="col-lg-12">
              <fieldset>
                <label for="name">שם מלא</label>
                <input
                  type="name"
                  name="name"
                  id="name"
                  placeholder="שם מלא..."
                  autocomplete="on"
                  required
                />
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <label for="email">כתובת מייל</label>
                <input
                  type="text"
                  name="email"
                  id="email"
                  pattern="[^ @]*@[^ @]*"
                  placeholder="כתובת מייל..."
                  required=""
                />
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <label for="subject">נושא</label>
                <input
                  type="subject"
                  name="subject"
                  id="subject"
                  placeholder="נושא..."
                  autocomplete="on"
                />
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <label for="message">הודעה</label>
                <textarea
                  name="message"
                  id="message"
                  placeholder="הודעה..."
                ></textarea>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <button type="submit" id="form-submit" class="orange-button">
                  שלח הודעה
                </button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-12">
        <div id="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d417952.7555234712!2d34.8896822824463!3d31.715580186007834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1502834590297fd9%3A0x8cbbe389db4aebee!2z15nXoteoINeQ16jXlg!5e0!3m2!1siw!2sil!4v1703677332152!5m2!1siw!2sil"
            width="100%"
            height="500px"
            frameborder="0"
            style="
              border: 0;
              border-radius: 10px;
              box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
            "
            allowfullscreen=""
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
